.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #323232;
}
#logo-img{
    height: 5rem;
    padding: 1.5rem;
}
#sitename{
    display: none;
    font-weight: normal;
    color: #E3EC39;
}
.sandwich-icon{
display: inline-block;
margin-right: 5%;
}
.login-signup{
    display: none;
    color: #323232;
}
.login-signup-button{
    display: inline-block;
    color: #323232;
    background-color: white;
    border-radius: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
}
@media screen and (min-width: 1025px) {
    #logo-img{
        height: 10rem;
        padding: 3rem;
    }
    .login-signup{
        display: inline-block;
    }
    .sandwich-icon{
        display: none;
    }

}