#side-sections{
    margin-top: 30px;
    padding-top: 40px;
}
.side-items{
    display: block;
    text-align: center;
    font-size: 24pt;
    margin-top: 50px;
    font-weight: bolder;
    color: #000;
}
.side-contact{
    display: block;
    color: #000;
}
.side-contact-containers{
    display: block;
    margin-bottom: 20px;
}
.side-contact-items{
    color: #000;
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
}

.card{
    display: inline-block;
    width: 100%;
    height: 71.4285714286%;
}
#main-section{
    background-image: url(../../Assets/images/don-t-sit-get-fit.png);
    background-color: #323232;
    opacity: 100%;
    background-size:cover;
    width: 100%;
    height: auto;
}
#main-title{
    padding-top: 100px;
}

.main-text{
    position: relative;
    font-size: 24pt;
    font-weight: normal;
}
.main-text p{
    margin-top: 5rem;
}
.secondary-sections{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}
.secondary-titles{
    position: relative;
    font-size: 3rem;
    text-align: center;
    text-emphasis: none;
    color: #E3EC39   
}
.secondary-text{
    display: inline-block;
    position: relative;
    bottom: 1rem;
}

.mini-card{
position: relative;
display: inline-block;
background-clip: border-box;
border-radius: 10px;
width: 21.87rem;
height: 15.625rem;
margin-top: 1rem;
margin-bottom: 1.5rem;
margin-left: 1rem;
margin-right: 1rem;
}

#reservations{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/images/reservations.png");}
#schedule{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/reservations.png);
}
#memberships{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/membership.png);
}
#contact-and-suggestions{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/contacts-and-suggestions.png);
}
#contact-form{
    background-color: white;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 1rem;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.form-field{
    width: 80%;
    padding-left: auto;
    padding-right: auto;
    padding: 0.1rem;
}
.label{
    display: block;
    font-size: 1rem;
    padding-bottom: 5px;
}
.contact-input{
    width: 100%;
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#box-message{
    width: 80%;
    display: block;
    align-self: center;
}
#input-message{
    width: 100%;
    height: 3rem;
    display: block;
}
#select-reason{
    background-color: #a8a8a82c;
    border-color: #a8a8a82c;
    border-radius: 5px;
}

#input-submit{
    padding-left: 40px;
    padding-right: 40px;
    background-color: yellow;
    border-radius: 10px;
    
}
.list{
    list-style:none
}
input{
    background-color: #a8a8a82c;
    border-color: #a8a8a82c;
    border-radius: 5px;
}
.activities-container{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 306.15px;
    height: 187px;
}
.activities-text{
    font-weight: bold;
    display: block;
    color: white;
    font-size: 40pt;
    margin-left: 10px; 
    margin-top: 50px;
    text-align: center;
}
.line{
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 30px;
}
#crossfit{
    background-image: url(../../Assets/images/crossfit.png);
    color: white;
}
#box{
background-image: url(../../Assets/images/BOX.png);
 display: inline-block;
 width: 306.15px;
 height: 187px;
 color: white;
}
#functional{
    background-image: url(../../Assets/images/functional.png);
}
#spining{
    background-image: url(../../Assets/images/SPINNING.png);
}
#fitness{
    background-image: url(../../Assets/images/fitness.png);
}

.memberships{
    width: 480px;
    height: 575.75px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#only-classes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/only-classes.png");
}
#classic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/classic-membership.png");
}
#black-membership{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/black-membership.png");
}
#section-our-story{ 
    display: inline-block;
    margin-top: 8rem;
    margin-bottom: 95px;
    text-align: left;
}
#our-story-title{
    font-size: 60pt;
    display: inline-block;
    text-align: left;
    vertical-align:top
}
#our-story-container-text{
    position: relative;
    display: inline-block;
    background-color: #E0E0E0;
    border-radius: 10px;
    vertical-align: bottom;
}
#our-story-text{
    color: #000;
    font-size: 18pt;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

