<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Log in</title>
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">
                <img src="../../Assets/images/radiumrocketlogo.png" alt="Mega Rocket Logo" class="logo-img" id="logo-img">
                <h1 class="sitename" id="sitename">MEGA ROCKET S.A</h1>
            </a>
            <div class="login-signup">
                <div class="login-signup-button">
                    <a href="" id="login">Log in
                        <img src="../../Assets/images/login-icon.png" alt="Log In">
                    </a>
                </div>
                <div>
                    <div class="login-signup-button">
                        <a href="#">Sign Up
                            <img src="../../Assets/images/signup-icon.png" alt="sign up icon">
                        </a>
                    </div>
                    <img src="../../Assets/images/sandwich-icon.png" alt="sandwich icon" class="sandwich-icon">
                </div>
        </header>
        <main>
            <div class="login-container" id="login-container">
                <form action="" class="form" id="login-form">
                    <div class="form-field" id="login-email">
                        <label for="Email" class="label">Email:</label>
                        <input type="text" value="message@mail.com" class="contact-input" id="email-input">
                        <p id="email-error"></p>
                    </div>
                    <div class="form-field" id="login-password">
                        <label for="Email" class="label">Password:</label>
                        <input type="password" value="********" class="contact-input" id="password-input">
                        <p id="password-error"></p>
                    </div>
                    <input type="submit" value="Send" id="input-submit">
                </form>
            </div>
        </main>
    </body>
    <script src="../js/log-in.js"></script>
</html>