
@font-face {
    font-family: 'Roboto';
    src: url('../../Assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    align-content: center;
    background-color: #535353;

}
span{
    display: block;
}
.header{
    display: block;
    margin: 0;
    background-color: #323232;
    width: 1512px;
    height: 188px;
}
.logo{
    display: inline-block;
    margin: 20px;
    height: 80%;
}
#logo-img{
    display: block;
    padding-top: 20px;
    margin-left: 80px;
    height: 50%;
}
#sitename{
    font-weight: normal;
    color: #E3EC39;
}
.login-signup{
    position: relative;
    display: inline-block;
    vertical-align:  top;
    margin-top: 50px;
    left: 740px;
}
.login-signup-button{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    width:158px;
    height: 76px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
}
#login{
    margin-right: 20px;
}

aside{
    position: absolute;
    left: 0;
    display:inline-block;
    background-color: #E3EC39; 
    width: 336px;
    height:5629px
}
#side-sections{
    margin-top: 30px;
    padding-top: 40px;
}
.side-items{
    display: block;
    text-align: center;
    font-size: 24pt;
    margin-top: 50px;
    font-weight: bolder;
    color: #000;
}
.side-contact{
    display: block;
    color: #000;
    position: absolute;
    bottom: 50px;
}
.side-contact-containers{
    display: block;
    margin-bottom: 20px;
}
.side-contact-items{
    color: #000;
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
}

.card{
    display: inline-block;
    width: 300px;
    height: 300px;
}
main{
    margin: 0;
    margin-left: 335px;
}
#main-section{
    background-image: url(../../Assets/images/don-t-sit-get-fit.png);
    background-color: #323232;
    opacity: 100%;
    background-size:cover;
    width: 1178px;
    height: 864px;
}
#main-title{
    padding-top: 100px;
}
.text{
    font-family: Roboto;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 20pt;
    margin-left: 10px; 
    margin-top: 50px;
    text-align: center;
}
.main-text{
    position: relative;
    font-size: 24pt;
    font-weight: normal;
    padding-left: 28px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.main-text p{
    margin-top: 100px;
}
.secondary-sections{
    display: block;
    width: 1018.56px;
    margin-left: 100px;
    padding-left: 0px;
}
.secondary-titles{
    position: relative;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 40pt;
    text-align: center;
    text-emphasis: none;
    color: #E3EC39   
}
.secondary-text{
    display: inline-block;
    position: relative;
    bottom: 10px;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.mini-card{
position: relative;
display: inline-block;
width: 455px;
height: 290px;
margin-top: 10px;
margin-bottom: 50px;
margin-right: 50px;
background-clip: border-box;
border-radius: 10px;
vertical-align: bottom;
}

#reservations{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/images/reservations.png");}
#schedule{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/reservations.png);
}
#memberships{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/membership.png);
}
#contact-and-suggestions{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Assets/images/contacts-and-suggestions.png);
}
#contact-form{
    border: #323232;
    width: 1030px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
}
.form{
    padding-left: 100px;
}
.form-field{
    display: inline-block;
    align-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}
.label{
    display: block;
    font-size: 16pt;
    padding-bottom: 5px;
}
.contact-input{
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#box-message{
    width: 1000px;
    display: block;
    align-self: center;
}
#input-message{
    width: 756px;
    height: 100px;
    display: block;
}
#select-reason{
    background-color: #a8a8a82c;
    border-color: #a8a8a82c;
    border-radius: 5px;
}
#box-submit{
    margin-left: 330px;
}
#input-submit{
    padding-left: 40px;
    padding-right: 40px;
    background-color: yellow;
    border-radius: 10px;
}
.list{
    list-style:none
}
input{
    background-color: #a8a8a82c;
    border-color: #a8a8a82c;
    border-radius: 5px;
}
.activities-container{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 306.15px;
    height: 187px;
}
.activities-text{
    font-weight: bold;
    display: block;
    color: white;
    font-size: 40pt;
    margin-left: 10px; 
    margin-top: 50px;
    text-align: center;
}
.line{
    display: block;
    margin-left: 180px;
    margin-bottom: 30px;
}
#crossfit{
    background-image: url(../../Assets/images/crossfit.png);
    color: white;
}
#box{
background-image: url(../../Assets/images/BOX.png);
 display: inline-block;
 width: 306.15px;
 height: 187px;
 color: white;
}
#functional{
    background-image: url(../../Assets/images/functional.png);
}
#spining{
    background-image: url(../../Assets/images/SPINNING.png);
}
#fitness{
    background-image: url(../../Assets/images/fitness.png);
}
.titles{
    font-family: Roboto;
    text-emphasis: none;
    text-decoration: none;
    font-size: 100pt;
    text-align: center;
    color: white;
    padding-bottom: 100px;

}
.memberships{
    width: 480px;
    height: 575.75px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.memberships-text{
    margin-left: 60px;
    margin-right: 60px;
}
#only-classes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/only-classes.png");
}
#classic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/classic-membership.png");
}
#black-membership{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../Assets/images/black-membership.png");
}
#Section-our-story{
    
    display: inline-block;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 80px;
    padding-left: 0px;
    width: 1200px;
    text-align: left;
    
}
#our-story-title{
    font-size: 60pt;
    margin-left: 35px;
    display: inline-block;
    text-align: left;
    vertical-align:top
}
#our-story-container-text{
    position: relative;
    display: inline-block;
    width: 660px;
    height: 300px;
    padding: 10px;
    background-color: #E0E0E0;
    border-radius: 10px;
    vertical-align: bottom;
}
#our-story-text{
    color: #000;
    font-size: 18pt;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
.titles-effect{
    position: relative;
    display: inline-block;
    left: -50px;
    top: 100px;
    text-emphasis: none;
    color: yellow
}
footer{
    display: block;
    position:static;
    bottom: 0;
    height: 200px;
    width: 1500px;
    background-color: #323232;
}
.footer-text{
    display: inline;
    font-size: 24pt;
    color: white;
    text-decoration: underline;
    margin-left: 30px;
    margin-right: 70px;
    vertical-align:50%
}
.footer-social-media{
    display: inline-block;
    padding-top: 50px;
}
#copyright{
    display: inline-block;
    font-size: 14pt;
    text-decoration: none;
    text-align: center;
}