*{
    margin: 0;
    padding: 0;
}

body{
    align-content: center;
    background-color: #535353;

}
.header{
    display: block;
    margin: 0;
    background-color: #323232;
    width: 1512px;
}
.logo{
    display: inline-block;
    margin: 20px;
}
.login-signup{
    position: relative;
    display: inline-block;
    top: -100px;
    left: 866px;
}
#login{
    margin-right: 20px;
}
aside{
    position: absolute;
    left: 0;
    display:inline-block;
    background-color: yellow; 
    width: 336px;
    height:10000px;
}
.card{
    display: inline-block;
    width: 300px;
    height: 300px;
}
main{
    margin: 0;
    margin-left: 335px;
}
#main-section{
    background-image: url(../../Assets/images/don\'t-sit-get-fit.png);
    background-color: #323232;
    opacity: 100%;
    background-size: fit;
    width: 1178px;
    height: 864px;
}
#main-text{
    position: relative;
    top: 200px;
}

.secondary-sections{
    display: block;
    width: 1018.56px;
}
.secondary-titles{
    position: relative;
    font-size: 60pt;
    text-emphasis: none;
    color: yellow   
}
.mini-card{
width: 451.53px;
height: 288.9px;
position: relative;
display: inline-block;
margin-top:  60px;
margin-left: 50px;
}
#section-features{
align-self: center;
}
#features{
    align-content: center;
    margin-top: 50px;
}
#reservations{
    background-image: url(../../Assets/images/reservations.png);
}
#schedule{
    background-image: url(../../Assets/images/reservations.png);
}
#memberships{
    background-image: url(../../Assets/images/membership.png);
}
#contact-and-suggestions{
    background-image: url(../../Assets/images/contacts-and-suggestions.png);
}
#contact-form{
    
}
.titles{
    font-family: roboto;
    text-emphasis: none;
    text-decoration: none;
    border-bottom: 0;
    font-size: 100pt;
    text-align: center;
    color: white;
    
}

.titles-effect{
    position: relative;
    left: -50px;
    top: 100px;
    text-emphasis: none;
    color: yellow
}
.text{
    color: white;
    font-size: 30pt;
    margin-left: 10px;    
}