@font-face {
    font-family: 'Roboto';
    src: url('../../Assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    align-content: center;
    background-color: #535353;
    background-repeat: no-repeat;
}
span{
    display: block;
}
aside{
    position: sticky;
    display:none;
    background-color:#E3EC39; 
    width: 20em;
    height:100vh
}
.main-and-aside{
    display: flex;
    flex-direction: row;
}
main{
    display: flex;
    flex-direction: column;
}
.text{
    font-family: Roboto;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.titles{
    display: block;
    font-family: Roboto;
    text-emphasis: none;
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 7%;

}
.titles-effect{
    position: relative;
    display: block;
    text-align: center;
    top: 0rem;
    left: 2.5rem;
    color: #E3EC39
}

@media only screen and (min-width: 769px) {

    .titles{
        font-size: 6rem;
    }
    .titles-effect{
        left: 6rem;
        }
}
  @media only screen and (min-width: 1025px) {

    aside{
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }
    .titles{
        font-size: 8rem;
    }
    .titles-effect{
    left: 8rem;
    }
    
  }